version: "3.8"
services:
  app:
    build: .
    image: video-optimizer:latest
    volumes:
      - ./inputs:/app/inputs
      - ./outputs:/app/outputs
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "5001:5001"
    stdin_open: true
    tty: true
